<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nacladnaya.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Nacladnaya.Properties.Settings.conStr" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Z:\Tceh\data.mdb;User ID=Повх;Jet OLEDB:System database=Z:\Tceh\system.mdw"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <Nacladnaya.Properties.Settings>
            <setting name="lastOrderNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastDocsNumber" serializeAs="String">
                <value>1</value>
            </setting>
        </Nacladnaya.Properties.Settings>
    </userSettings>
</configuration>